* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f1e9e9;
}

h1 {
  margin: 2rem;
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  color: rgb(216, 36, 36);
}

#searchForm {
  margin-block: 3rem;
  margin-inline: 35vw;
  display: flex;
}

#searchForm input {
  height: 3rem;
  width: 30rem;
  border-radius: 5px;
  border: 2px solid rgb(28, 107, 87);
  font-size: 1.5rem;
  padding-inline: 1rem;
}

#searchForm input:focus {
  outline: none;
}


#submitButton {
  width: 5rem;
  height: 3rem;
  border-radius: 5px;
  border: 2px solid rgb(28, 107, 87);
  color: white;
  background-color: rgb(28, 107, 87);
  padding: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.cards-parent {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-inline: 2rem;
  gap: 2rem;
}
  
.card {
  width: 17rem;
  height: auto;
  border-radius: 0.5rem;
  background-color: #312e2e;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.3s linear;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
}

.card-image {
  height: 14rem;
  width: 100%;
  border-top-left-radius: 0.5rem;
  object-fit: fill;
  border-top-right-radius: 0.5rem;
}
.card-content {
  flex-direction: column;
  display: flex;
  padding: 1rem;
  gap: 0.8rem;
}

.movie-type span {
  color: white;
  background-color: rgb(247, 105, 105);
  border-radius: 0.5rem;
  padding: 0.3rem;
}